# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on one-to-many and many-to-many relationships!

## Objectives

You will be able to:
- Query data using one-to-many and many-to-many joins
- Predict the resulting size of one-to-many and many-to-many joins

## One-to-Many and Many-to-Many Joins
<img src='images/Database-Schema.png' width="600">

## Connect to the Database

In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite')
c = conn.cursor()

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [2]:
c.execute('''select firstName, lastName, city, state 
            from employees join offices using(officeCode) order by firstName, lastName; ''').fetchall()

[('Andy', 'Fixter', 'Sydney', ''),
 ('Anthony', 'Bow', 'San Francisco', 'CA'),
 ('Barry', 'Jones', 'London', ''),
 ('Diane', 'Murphy', 'San Francisco', 'CA'),
 ('Foon Yue', 'Tseng', 'NYC', 'NY'),
 ('George', 'Vanauf', 'NYC', 'NY'),
 ('Gerard', 'Bondur', 'Paris', ''),
 ('Gerard', 'Hernandez', 'Paris', ''),
 ('Jeff', 'Firrelli', 'San Francisco', 'CA'),
 ('Julie', 'Firrelli', 'Boston', 'MA'),
 ('Larry', 'Bott', 'London', ''),
 ('Leslie', 'Jennings', 'San Francisco', 'CA'),
 ('Leslie', 'Thompson', 'San Francisco', 'CA'),
 ('Loui', 'Bondur', 'Paris', ''),
 ('Mami', 'Nishi', 'Tokyo', 'Chiyoda-Ku'),
 ('Martin', 'Gerard', 'Paris', ''),
 ('Mary', 'Patterson', 'San Francisco', 'CA'),
 ('Pamela', 'Castillo', 'Paris', ''),
 ('Peter', 'Marsh', 'Sydney', ''),
 ('Steve', 'Patterson', 'Boston', 'MA'),
 ('Tom', 'King', 'Sydney', ''),
 ('William', 'Patterson', 'Sydney', ''),
 ('Yoshimi', 'Kato', 'Tokyo', 'Chiyoda-Ku')]

## Customers and their Orders (a One-to-Many join)

Return a list of all the customers first and last names along with a record for each of their order numbers, order dates and statuses.

In [3]:
c.execute('''select contactLastName, contactFirstName, orderNumber, orderDate, status from customers
            join orders using(customerNumber);''').fetchall()

[('Schmitt', 'Carine ', '10123', '2003-05-20', 'Shipped'),
 ('Schmitt', 'Carine ', '10298', '2004-09-27', 'Shipped'),
 ('Schmitt', 'Carine ', '10345', '2004-11-25', 'Shipped'),
 ('King', 'Jean', '10124', '2003-05-21', 'Shipped'),
 ('King', 'Jean', '10278', '2004-08-06', 'Shipped'),
 ('King', 'Jean', '10346', '2004-11-29', 'Shipped'),
 ('Ferguson', 'Peter', '10120', '2003-04-29', 'Shipped'),
 ('Ferguson', 'Peter', '10125', '2003-05-21', 'Shipped'),
 ('Ferguson', 'Peter', '10223', '2004-02-20', 'Shipped'),
 ('Ferguson', 'Peter', '10342', '2004-11-24', 'Shipped'),
 ('Ferguson', 'Peter', '10347', '2004-11-29', 'Shipped'),
 ('Labrune', 'Janine ', '10275', '2004-07-23', 'Shipped'),
 ('Labrune', 'Janine ', '10315', '2004-10-29', 'Shipped'),
 ('Labrune', 'Janine ', '10375', '2005-02-03', 'Shipped'),
 ('Labrune', 'Janine ', '10425', '2005-05-31', 'In Process'),
 ('Bergulfsen', 'Jonas ', '10103', '2003-01-29', 'Shipped'),
 ('Bergulfsen', 'Jonas ', '10158', '2003-10-10', 'Shipped'),
 ('Bergulfsen', 'Jonas ', '10309', '2004-10-15', 'Shipped'),
 ('Bergulfsen', 'Jonas ', '10325', '2004-11-05', 'Shipped'),
 ('Nelson', 'Susan', '10113', '2003-03-26', 'Shipped'),
 ('Nelson', 'Susan', '10135', '2003-07-02', 'Shipped'),
 ('Nelson', 'Susan', '10142', '2003-08-08', 'Shipped'),
 ('Nelson', 'Susan', '10182', '2003-11-12', 'Shipped'),
 ('Nelson', 'Susan', '10229', '2004-03-11', 'Shipped'),
 ('Nelson', 'Susan', '10271', '2004-07-20', 'Shipped'),
 ('Nelson', 'Susan', '10282', '2004-08-20', 'Shipped'),
 ('Nelson', 'Susan', '10312', '2004-10-21', 'Shipped'),
 ('Nelson', 'Susan', '10335', '2004-11-19', 'Shipped'),
 ('Nelson', 'Susan', '10357', '2004-12-10', 'Shipped'),
 ('Nelson', 'Susan', '10368', '2005-01-19', 'Shipped'),
 ('Nelson', 'Susan', '10371', '2005-01-23', 'Shipped'),
 ('Nelson', 'Susan', '10382', '2005-02-17', 'Shipped'),
 ('Nelson', 'Susan', '10385', '2005-02-28', 'Shipped'),
 ('Nelson', 'Susan', '10390', '2005-03-04', 'Shipped'),
 ('Nelson', 'Susan', '10396', '2005-03-23', 'Shipped'),
 ('Nelson', 'Susan', '10421', '2005-05-29', 'In Process'),
 ('Keitel', 'Roland', '10101', '2003-01-09', 'Shipped'),
 ('Keitel', 'Roland', '10230', '2004-03-15', 'Shipped'),
 ('Keitel', 'Roland', '10300', '2003-10-04', 'Shipped'),
 ('Keitel', 'Roland', '10323', '2004-11-05', 'Shipped'),
 ('Murphy', 'Julie', '10111', '2003-03-25', 'Shipped'),
 ('Murphy', 'Julie', '10201', '2003-12-01', 'Shipped'),
 ('Murphy', 'Julie', '10333', '2004-11-18', 'Shipped'),
 ('Lee', 'Kwai', '10107', '2003-02-24', 'Shipped'),
 ('Lee', 'Kwai', '10248', '2004-05-07', 'Cancelled'),
 ('Lee', 'Kwai', '10292', '2004-09-08', 'Shipped'),
 ('Lee', 'Kwai', '10329', '2004-11-15', 'Shipped'),
 ('Freyre', 'Diego ', '10104', '2003-01-31', 'Shipped'),
 ('Freyre', 'Diego ', '10128', '2003-06-06', 'Shipped'),
 ('Freyre', 'Diego ', '10133', '2003-06-27', 'Shipped'),
 ('Freyre', 'Diego ', '10153', '2003-09-28', 'Shipped'),
 ('Freyre', 'Diego ', '10156', '2003-10-08', 'Shipped'),
 ('Freyre', 'Diego ', '10190', '2003-11-19', 'Shipped'),
 ('Freyre', 'Diego ', '10203', '2003-12-02', 'Shipped'),
 ('Freyre', 'Diego ', '10205', '2003-12-03', 'Shipped'),
 ('Freyre', 'Diego ', '10212', '2004-01-16', 'Shipped'),
 ('Freyre', 'Diego ', '10244', '2004-04-29', 'Shipped'),
 ('Freyre', 'Diego ', '10246', '2004-05-05', 'Shipped'),
 ('Freyre', 'Diego ', '10262', '2004-06-24', 'Cancelled'),
 ('Freyre', 'Diego ', '10279', '2004-08-09', 'Shipped'),
 ('Freyre', 'Diego ', '10311', '2004-10-16', 'Shipped'),
 ('Freyre', 'Diego ', '10350', '2004-12-02', 'Shipped'),
 ('Freyre', 'Diego ', '10355', '2004-12-07', 'Shipped'),
 ('Freyre', 'Diego ', '10358', '2004-12-10', 'Shipped'),
 ('Freyre', 'Diego ', '10378', '2005-02-10', 'Shipped'),
 ('Freyre', 'Diego ', '10379', '2005-02-10', 'Shipped'),
 ('Freyre', 'Diego ', '10380', '2005-02-16', 'Shipped'),
 ('Freyre', 'Diego ', '10383', '2005-02-22', 'Shipped'),
 ('Freyre', 'Diego ', '10386', '2005-03-01', 'Resolved'),
 ('Freyre', 'Diego ', '10394', '2005-03-15', 'Shipped'),
 ('Freyre', 'Diego ', '10412', '2005-05-03', 'Shipped'),
 ('Freyre', 'Diego ', '10417', '2005-05-13', 'Disputed'),
 ('Freyre', 'Diego ', '10424', '2005-05-31', 'In Process'),
 ('Berglund', 'Christina ', '10112', '2003-03-24', 'Shipped'),
 ('Berglund', 'Christina ', '10320', '2004-11-03', 'Shipped'),
 ('Berglund', 'Christina ', '10326', '2004-11-09', 'Shipped'),
 ('Berglund', 'Christina ', '10334', '2004-11-19', 'On Hold'),
 ('Petersen', 'Jytte ', '10105', '2003-02-11', 'Shipped'),
 ('Petersen', 'Jytte ', '10238', '2004-04-09', 'Shipped'),
 ('Petersen', 'Jytte ', '10256', '2004-06-08', 'Shipped'),
 ('Petersen', 'Jytte ', '10327', '2004-11-10', 'Resolved'),
 ('Petersen', 'Jytte ', '10406', '2005-04-15', 'Disputed'),
 ('Saveley', 'Mary ', '10194', '2003-11-25', 'Shipped'),
 ('Saveley', 'Mary ', '10208', '2004-01-02', 'Shipped'),
 ('Saveley', 'Mary ', '10227', '2004-03-02', 'Shipped'),
 ('Natividad', 'Eric', '10117', '2003-04-16', 'Shipped'),
 ('Natividad', 'Eric', '10150', '2003-09-19', 'Shipped'),
 ('Natividad', 'Eric', '10165', '2003-10-22', 'Shipped'),
 ('Natividad', 'Eric', '10277', '2004-08-04', 'Shipped'),
 ('Natividad', 'Eric', '10387', '2005-03-02', 'Shipped'),
 ('Young', 'Jeff', '10127', '2003-06-03', 'Shipped'),
 ('Young', 'Jeff', '10204', '2003-12-02', 'Shipped'),
 ('Young', 'Jeff', '10267', '2004-07-07', 'Shipped'),
 ('Young', 'Jeff', '10349', '2004-12-01', 'Shipped'),
 ('Leong', 'Kelvin', '10272', '2004-07-20', 'Shipped'),
 ('Leong', 'Kelvin', '10281', '2004-08-19', 'Shipped'),
 ('Leong', 'Kelvin', '10318', '2004-11-02', 'Shipped'),
 ('Leong', 'Kelvin', '10422', '2005-05-30', 'In Process'),
 ('Hashimoto', 'Juri', '10140', '2003-07-24', 'Shipped'),
 ('Hashimoto', 'Juri', '10168', '2003-10-28', 'Shipped'),
 ('Hashimoto', 'Juri', '10317', '2004-11-02', 'Shipped'),
 ('Hashimoto', 'Juri', '10362', '2005-01-05', 'Shipped'),
 ('Victorino', 'Wendy', '10217', '2004-02-04', 'Shipped'),
 ('Victorino', 'Wendy', '10259', '2004-06-15', 'Shipped'),
 ('Victorino', 'Wendy', '10288', '2004-09-01', 'Shipped'),
 ('Victorino', 'Wendy', '10409', '2005-04-23', 'Shipped'),
 ('Oeztan', 'Veysel', '10181', '2003-11-12', 'Shipped'),
 ('Oeztan', 'Veysel', '10188', '2003-11-18', 'Shipped'),
 ('Oeztan', 'Veysel', '10289', '2004-09-03', 'Shipped'),
 ('Rancé', 'Martine ', '10180', '2003-11-11', 'Shipped'),
 ('Rancé', 'Martine ', '10224', '2004-02-21', 'Shipped'),
 ('Bertrand', 'Marie', '10114', '2003-04-01', 'Shipped'),
 ('Bertrand', 'Marie', '10286', '2004-08-28', 'Shipped'),
 ('Bertrand', 'Marie', '10336', '2004-11-20', 'Shipped'),
 ('Tseng', 'Jerry', '10228', '2004-03-10', 'Shipped'),
 ('Tseng', 'Jerry', '10249', '2004-05-08', 'Shipped'),
 ('King', 'Julie', '10172', '2003-11-05', 'Shipped'),
 ('King', 'Julie', '10263', '2004-06-28', 'Shipped'),
 ('King', 'Julie', '10413', '2005-05-05', 'Shipped'),
 ('Kentary', 'Mory', '10210', '2004-01-12', 'Shipped'),
 ('Kentary', 'Mory', '10240', '2004-04-13', 'Shipped'),
 ('Frick', 'Michael', '10102', '2003-01-10', 'Shipped'),
 ('Frick', 'Michael', '10237', '2004-04-05', 'Shipped'),
 ('Frick', 'Michael', '10324', '2004-11-05', 'Shipped'),
 ('Karttunen', 'Matti', '10155', '2003-10-06', 'Shipped'),
 ('Karttunen', 'Matti', '10299', '2004-09-30', 'Shipped'),
 ('Karttunen', 'Matti', '10377', '2005-02-09', 'Shipped'),
 ('Ashworth', 'Rachel', '10110', '2003-03-18', 'Shipped'),
 ('Ashworth', 'Rachel', '10306', '2004-10-14', 'Shipped'),
 ('Ashworth', 'Rachel', '10332', '2004-11-17', 'Shipped'),
 ('Cassidy', 'Dean', '10220', '2004-02-12', 'Shipped'),
 ('Cassidy', 'Dean', '10297', '2004-09-16', 'Shipped'),
 ('Taylor', 'Leslie', '10130', '2003-06-16', 'Shipped'),
 ('Taylor', 'Leslie', '10290', '2004-09-07', 'Shipped'),
 ('Taylor', 'Leslie', '10352', '2004-12-03', 'Shipped'),
 ('Devon', 'Elizabeth', '10253', '2004-06-01', 'Cancelled'),
 ('Devon', 'Elizabeth', '10302', '2003-10-06', 'Shipped'),
 ('Devon', 'Elizabeth', '10403', '2005-04-08', 'Shipped'),
 ('Tamuri', 'Yoshi ', '10206', '2003-12-05', 'Shipped'),
 ('Tamuri', 'Yoshi ', '10313', '2004-10-22', 'Shipped'),
 ('Barajas', 'Miguel', '10276', '2004-08-02', 'Shipped'),
 ('Barajas', 'Miguel', '10294', '2004-09-10', 'Shipped'),
 ('Young', 'Julie', '10145', '2003-08-25', 'Shipped'),
 ('Young', 'Julie', '10189', '2003-11-18', 'Shipped'),
 ('Young', 'Julie', '10367', '2005-01-12', 'Resolved'),
 ('Citeaux', 'Frédérique ', '10241', '2004-04-13', 'Shipped'),
 ('Citeaux', 'Frédérique ', '10255', '2004-06-04', 'Shipped'),
 ('Citeaux', 'Frédérique ', '10405', '2005-04-14', 'Shipped'),
 ('Gao', 'Mike', '10187', '2003-11-15', 'Shipped'),
 ('Gao', 'Mike', '10200', '2003-12-01', 'Shipped'),
 ('Saavedra', 'Eduardo ', '10118', '2003-04-21', 'Shipped'),
 ('Saavedra', 'Eduardo ', '10197', '2003-11-26', 'Shipped'),
 ('Saavedra', 'Eduardo ', '10340', '2004-11-24', 'Shipped'),
 ('Young', 'Mary', '10154', '2003-10-02', 'Shipped'),
 ('Young', 'Mary', '10376', '2005-02-08', 'Shipped'),
 ('Ibsen', 'Palle', '10161', '2003-10-17', 'Shipped'),
 ('Ibsen', 'Palle', '10314', '2004-10-22', 'Shipped'),
 ('Fresnière', 'Jean ', '10171', '2003-11-05', 'Shipped'),
 ('Fresnière', 'Jean ', '10261', '2004-06-17', 'Shipped'),
 ('Fresnière', 'Jean ', '10411', '2005-05-01', 'Shipped'),
 ('Thompson', 'Valarie', '10222', '2004-02-19', 'Shipped'),
 ('Thompson', 'Valarie', '10226', '2004-02-26', 'Shipped'),
 ('Bennett', 'Helen ', '10232', '2004-03-20', 'Shipped'),
 ('Bennett', 'Helen ', '10316', '2004-11-01', 'Shipped'),
 ('Roulet', 'Annette ', '10136', '2003-07-04', 'Shipped'),
 ('Roulet', 'Annette ', '10178', '2003-11-08', 'Shipped'),
 ('Roulet', 'Annette ', '10397', '2005-03-28', 'Shipped'),
 ('Accorti', 'Paolo ', '10280', '2004-08-17', 'Shipped'),
 ('Accorti', 'Paolo ', '10293', '2004-09-09', 'Shipped'),
 ('Da Silva', 'Daniel', '10134', '2003-07-01', 'Shipped'),
 ('Da Silva', 'Daniel', '10356', '2004-12-09', 'Shipped'),
 ('Da Silva', 'Daniel', '10395', '2005-03-17', 'Shipped'),
 ('Tonini', 'Daniel ', '10216', '2004-02-02', 'Shipped'),
 ('Tonini', 'Daniel ', '10304', '2004-10-11', 'Shipped'),
 ('Pfalzheim', 'Henriette ', '10191', '2003-11-20', 'Shipped'),
 ('Pfalzheim', 'Henriette ', '10310', '2004-10-16', 'Shipped'),
 ('Lincoln', 'Elizabeth ', '10235', '2004-04-02', 'Shipped'),
 ('Lincoln', 'Elizabeth ', '10283', '2004-08-20', 'Shipped'),
 ("O'Hara", 'Anna', '10148', '2003-09-11', 'Shipped'),
 ("O'Hara", 'Anna', '10169', '2003-11-04', 'Shipped'),
 ("O'Hara", 'Anna', '10370', '2005-01-20', 'Shipped'),
 ("O'Hara", 'Anna', '10391', '2005-03-09', 'Shipped'),
 ('Rovelli', 'Giovanni ', '10106', '2003-02-17', 'Shipped'),
 ('Rovelli', 'Giovanni ', '10173', '2003-11-05', 'Shipped'),
 ('Rovelli', 'Giovanni ', '10328', '2004-11-12', 'Shipped'),
 ('Huxley', 'Adrian', '10139', '2003-07-16', 'Shipped'),
 ('Huxley', 'Adrian', '10270', '2004-07-19', 'Shipped'),
 ('Huxley', 'Adrian', '10361', '2004-12-17', 'Shipped'),
 ('Huxley', 'Adrian', '10420', '2005-05-29', 'In Process'),
 ('Hernandez', 'Marta', '10285', '2004-08-27', 'Shipped'),
 ('Hernandez', 'Marta', '10305', '2004-10-13', 'Shipped'),
 ('Holz', 'Mihael', '10225', '2004-02-22', 'Shipped'),
 ('Holz', 'Mihael', '10287', '2004-08-30', 'Shipped'),
 ('Klaeboe', 'Jan', '10284', '2004-08-21', 'Shipped'),
 ('Klaeboe', 'Jan', '10301', '2003-10-05', 'Shipped'),
 ('Koskitalo', 'Pirkko', '10151', '2003-09-21', 'Shipped'),
 ('Koskitalo', 'Pirkko', '10239', '2004-04-12', 'Shipped'),
 ('Koskitalo', 'Pirkko', '10373', '2005-01-31', 'Shipped'),
 ('Dewey', 'Catherine ', '10221', '2004-02-18', 'Shipped'),
 ('Dewey', 'Catherine ', '10273', '2004-07-21', 'Shipped'),
 ('Dewey', 'Catherine ', '10423', '2005-05-30', 'In Process'),
 ('Frick', 'Steve', '10195', '2003-11-25', 'Shipped'),
 ('Frick', 'Steve', '10308', '2004-10-15', 'Shipped'),
 ('Huang', 'Wing', '10143', '2003-08-10', 'Shipped'),
 ('Huang', 'Wing', '10185', '2003-11-14', 'Shipped'),
 ('Huang', 'Wing', '10365', '2005-01-07', 'Shipped'),
 ('Brown', 'Julie', '10159', '2003-10-10', 'Shipped'),
 ('Brown', 'Julie', '10162', '2003-10-18', 'Shipped'),
 ('Brown', 'Julie', '10381', '2005-02-17', 'Shipped'),
 ('Brown', 'Julie', '10384', '2005-02-23', 'Shipped'),
 ('Graham', 'Mike', '10132', '2003-06-25', 'Shipped'),
 ('Graham', 'Mike', '10254', '2004-06-03', 'Shipped'),
 ('Graham', 'Mike', '10354', '2004-12-04', 'Shipped'),
 ('Graham', 'Mike', '10393', '2005-03-11', 'Shipped'),
 ('Graham', 'Mike', '10404', '2005-04-08', 'Shipped'),
 ('Brown', 'Ann ', '10129', '2003-06-12', 'Shipped'),
 ('Brown', 'Ann ', '10175', '2003-11-06', 'Shipped'),
 ('Brown', 'Ann ', '10351', '2004-12-03', 'Shipped'),
 ('Brown', 'William', '10233', '2004-03-29', 'Shipped'),
 ('Brown', 'William', '10251', '2004-05-18', 'Shipped'),
 ('Brown', 'William', '10401', '2005-04-03', 'On Hold'),
 ('Calaghan', 'Ben', '10152', '2003-09-25', 'Shipped'),
 ('Calaghan', 'Ben', '10174', '2003-11-06', 'Shipped'),
 ('Calaghan', 'Ben', '10374', '2005-02-02', 'Shipped'),
 ('Suominen', 'Kalle', '10141', '2003-08-01', 'Shipped'),
 ('Suominen', 'Kalle', '10247', '2004-05-05', 'Shipped'),
 ('Suominen', 'Kalle', '10363', '2005-01-06', 'Shipped'),
 ('Cervantes', 'Francisca', '10183', '2003-11-13', 'Shipped'),
 ('Cervantes', 'Francisca', '10307', '2004-10-14', 'Shipped'),
 ('Fernandez', 'Jesus', '10177', '2003-11-07', 'Shipped'),
 ('Fernandez', 'Jesus', '10231', '2004-03-19', 'Shipped'),
 ('Chandler', 'Brian', '10160', '2003-10-11', 'Shipped'),
 ('Chandler', 'Brian', '10209', '2004-01-09', 'Shipped'),
 ('Lebihan', 'Laurence ', '10122', '2003-05-08', 'Shipped'),
 ('Lebihan', 'Laurence ', '10344', '2004-11-25', 'Shipped'),
 ('Lebihan', 'Laurence ', '10364', '2005-01-06', 'Shipped'),
 ('Henriot', 'Paul ', '10121', '2003-05-07', 'Shipped'),
 ('Henriot', 'Paul ', '10137', '2003-07-10', 'Shipped'),
 ('Henriot', 'Paul ', '10343', '2004-11-24', 'Shipped'),
 ('Henriot', 'Paul ', '10359', '2004-12-15', 'Shipped'),
 ('Henriot', 'Paul ', '10398', '2005-03-30', 'Shipped'),
 ('MacKinlay', 'Wales', '10202', '2003-12-02', 'Shipped'),
 ('MacKinlay', 'Wales', '10260', '2004-06-16', 'Cancelled'),
 ('MacKinlay', 'Wales', '10410', '2005-04-29', 'Shipped'),
 ('Yoshido', 'Juri', '10264', '2004-06-30', 'Shipped'),
 ('Yoshido', 'Juri', '10295', '2004-09-10', 'Shipped'),
 ('Yoshido', 'Juri', '10414', '2005-05-06', 'On Hold'),
 ('Young', 'Dorothy', '10100', '2003-01-06', 'Shipped'),
 ('Young', 'Dorothy', '10192', '2003-11-20', 'Shipped'),
 ('Young', 'Dorothy', '10322', '2004-11-04', 'Shipped'),
 ('Nelson', 'Allen', '10147', '2003-09-05', 'Shipped'),
 ('Nelson', 'Allen', '10274', '2004-07-21', 'Shipped'),
 ('Nelson', 'Allen', '10369', '2005-01-20', 'Shipped'),
 ('Cartrain', 'Pascale ', '10116', '2003-04-11', 'Shipped'),
 ('Cartrain', 'Pascale ', '10144', '2003-08-13', 'Shipped'),
 ('Cartrain', 'Pascale ', '10338', '2004-11-22', 'Shipped'),
 ('Cartrain', 'Pascale ', '10366', '2005-01-10', 'Shipped'),
 ('Pipps', 'Georg ', '10119', '2003-04-28', 'Shipped'),
 ('Pipps', 'Georg ', '10269', '2004-07-16', 'Shipped'),
 ('Pipps', 'Georg ', '10341', '2004-11-24', 'Shipped'),
 ('Pipps', 'Georg ', '10419', '2005-05-17', 'Shipped'),
 ('Cruz', 'Arnold', '10108', '2003-03-03', 'Shipped'),
 ('Cruz', 'Arnold', '10198', '2003-11-27', 'Shipped'),
 ('Cruz', 'Arnold', '10330', '2004-11-16', 'Shipped'),
 ('Moroni', 'Maurizio ', '10176', '2003-11-06', 'Shipped'),
 ('Moroni', 'Maurizio ', '10266', '2004-07-06', 'Shipped'),
 ('Moroni', 'Maurizio ', '10416', '2005-05-10', 'Shipped'),
 ('Shimamura', 'Akiko', '10258', '2004-06-15', 'Shipped'),
 ('Shimamura', 'Akiko', '10339', '2004-11-23', 'Shipped'),
 ('Shimamura', 'Akiko', '10372', '2005-01-26', 'Shipped'),
 ('Shimamura', 'Akiko', '10408', '2005-04-22', 'Shipped'),
 ('Perrier', 'Dominique', '10211', '2004-01-15', 'Shipped'),
 ('Perrier', 'Dominique', '10252', '2004-05-26', 'Shipped'),
 ('Perrier', 'Dominique', '10402', '2005-04-07', 'Shipped'),
 ('McRoy', 'Sarah', '10234', '2004-03-30', 'Shipped'),
 ('McRoy', 'Sarah', '10268', '2004-07-12', 'Shipped'),
 ('McRoy', 'Sarah', '10418', '2005-05-16', 'Shipped'),
 ('Donnermeyer', 'Michael', '10296', '2004-09-15', 'Shipped'),
 ('Hernandez', 'Maria', '10115', '2003-04-04', 'Shipped'),
 ('Hernandez', 'Maria', '10163', '2003-10-20', 'Shipped'),
 ('Hernandez', 'Maria', '10337', '2004-11-21', 'Shipped'),
 ('Lewis', 'Dan', '10131', '2003-06-16', 'Shipped'),
 ('Lewis', 'Dan', '10146', '2003-09-03', 'Shipped'),
 ('Lewis', 'Dan', '10353', '2004-12-04', 'Shipped'),
 ('Larsson', 'Martha', '10167', '2003-10-23', 'Cancelled'),
 ('Larsson', 'Martha', '10291', '2004-09-08', 'Shipped'),
 ('Larsson', 'Martha', '10389', '2005-03-03', 'Shipped'),
 ('Frick', 'Sue', '10250', '2004-05-11', 'Shipped'),
 ('Frick', 'Sue', '10257', '2004-06-14', 'Shipped'),
 ('Frick', 'Sue', '10400', '2005-04-01', 'Shipped'),
 ('Frick', 'Sue', '10407', '2005-04-22', 'On Hold'),
 ('Mendel', 'Roland ', '10164', '2003-10-21', 'Resolved'),
 ('Mendel', 'Roland ', '10170', '2003-11-04', 'Shipped'),
 ('Mendel', 'Roland ', '10392', '2005-03-10', 'Shipped'),
 ('Murphy', 'Leslie', '10196', '2003-11-26', 'Shipped'),
 ('Murphy', 'Leslie', '10245', '2004-05-04', 'Shipped'),
 ('Choi', 'Yu', '10242', '2004-04-20', 'Shipped'),
 ('Choi', 'Yu', '10319', '2004-11-03', 'Shipped'),
 ('Sommer', 'Martín ', '10126', '2003-05-28', 'Shipped'),
 ('Sommer', 'Martín ', '10214', '2004-01-26', 'Shipped'),
 ('Sommer', 'Martín ', '10348', '2004-11-01', 'Shipped'),
 ('Benitez', 'Violeta', '10166', '2003-10-21', 'Shipped'),
 ('Benitez', 'Violeta', '10321', '2004-11-04', 'Shipped'),
 ('Benitez', 'Violeta', '10388', '2005-03-03', 'Shipped'),
 ('Clenahan', 'Sean', '10193', '2003-11-21', 'Shipped'),
 ('Clenahan', 'Sean', '10265', '2004-07-02', 'Shipped'),
 ('Clenahan', 'Sean', '10415', '2005-05-09', 'Disputed'),
 ('Ricotti', 'Franco', '10157', '2003-10-09', 'Shipped'),
 ('Ricotti', 'Franco', '10218', '2004-02-09', 'Shipped'),
 ('Thompson', 'Steve', '10199', '2003-12-01', 'Shipped'),
 ('Thompson', 'Steve', '10215', '2004-01-29', 'Shipped'),
 ('Roel', 'José Pedro ', '10184', '2003-11-14', 'Shipped'),
 ('Roel', 'José Pedro ', '10303', '2004-10-06', 'Shipped'),
 ('Salazar', 'Rosa', '10109', '2003-03-10', 'Shipped'),
 ('Salazar', 'Rosa', '10236', '2004-04-03', 'Shipped'),
 ('Salazar', 'Rosa', '10331', '2004-11-17', 'Shipped'),
 ('Taylor', 'Sue', '10149', '2003-09-12', 'Shipped'),
 ('Taylor', 'Sue', '10219', '2004-02-10', 'Shipped'),
 ('Smith', 'Thomas ', '10186', '2003-11-14', 'Shipped'),
 ('Smith', 'Thomas ', '10213', '2004-01-22', 'Shipped'),
 ('Franco', 'Valarie', '10207', '2003-12-09', 'Shipped'),
 ('Franco', 'Valarie', '10243', '2004-04-26', 'Shipped'),
 ('Snowden', 'Tony', '10138', '2003-07-07', 'Shipped'),
 ('Snowden', 'Tony', '10179', '2003-11-11', 'Cancelled'),
 ('Snowden', 'Tony', '10360', '2004-12-16', 'Shipped'),
 ('Snowden', 'Tony', '10399', '2005-04-01', 'Shipped')]

## Customers and their Payments (another One-to-Many join)

Return a list of customers first and last names along with details about their payments including the amount and date of payments. Sort these results in descending order by the payment amount.

In [4]:
c.execute('''select contactLastName, contactFirstName, paymentDate, amount from customers
            join payments using(customerNumber);''').fetchall()

[('Schmitt', 'Carine ', '2003-06-05', '14571.44'),
 ('Schmitt', 'Carine ', '2004-10-19', '6066.78'),
 ('Schmitt', 'Carine ', '2004-12-18', '1676.14'),
 ('King', 'Jean', '2003-06-06', '32641.98'),
 ('King', 'Jean', '2004-08-20', '33347.88'),
 ('King', 'Jean', '2004-12-17', '14191.12'),
 ('Ferguson', 'Peter', '2003-05-20', '45864.03'),
 ('Ferguson', 'Peter', '2003-05-31', '7565.08'),
 ('Ferguson', 'Peter', '2004-03-10', '44894.74'),
 ('Ferguson', 'Peter', '2004-12-15', '82261.22'),
 ('Labrune', 'Janine ', '2004-08-08', '47924.19'),
 ('Labrune', 'Janine ', '2004-11-14', '19501.82'),
 ('Labrune', 'Janine ', '2005-02-22', '49523.67'),
 ('Bergulfsen', 'Jonas ', '2003-02-16', '50218.95'),
 ('Bergulfsen', 'Jonas ', '2003-10-28', '1491.38'),
 ('Bergulfsen', 'Jonas ', '2004-11-04', '17876.32'),
 ('Bergulfsen', 'Jonas ', '2004-11-28', '34638.14'),
 ('Nelson', 'Susan', '2003-04-11', '11044.30'),
 ('Nelson', 'Susan', '2003-08-15', '111654.40'),
 ('Nelson', 'Susan', '2003-11-25', '45084.38'),
 ('Nelson', 'Susan', '2004-03-26', '43369.30'),
 ('Nelson', 'Susan', '2004-08-28', '85410.87'),
 ('Nelson', 'Susan', '2004-11-02', '55639.66'),
 ('Nelson', 'Susan', '2004-12-27', '47142.70'),
 ('Nelson', 'Susan', '2005-03-05', '101244.59'),
 ('Nelson', 'Susan', '2005-04-16', '83598.04'),
 ('Keitel', 'Roland', '2003-01-28', '10549.01'),
 ('Keitel', 'Roland', '2003-10-18', '24101.81'),
 ('Keitel', 'Roland', '2004-03-24', '33820.62'),
 ('Keitel', 'Roland', '2004-11-18', '7466.32'),
 ('Murphy', 'Julie', '2003-04-09', '16537.85'),
 ('Murphy', 'Julie', '2003-12-11', '23923.93'),
 ('Murphy', 'Julie', '2004-12-08', '26248.78'),
 ('Lee', 'Kwai', '2003-03-12', '22292.62'),
 ('Lee', 'Kwai', '2004-09-11', '35321.97'),
 ('Lee', 'Kwai', '2004-12-02', '50025.35'),
 ('Freyre', 'Diego ', '2003-02-25', '40206.20'),
 ('Freyre', 'Diego ', '2003-07-19', '36251.03'),
 ('Freyre', 'Diego ', '2003-10-26', '49539.37'),
 ('Freyre', 'Diego ', '2003-12-09', '63843.55'),
 ('Freyre', 'Diego ', '2004-01-30', '59830.55'),
 ('Freyre', 'Diego ', '2004-05-17', '26155.91'),
 ('Freyre', 'Diego ', '2004-07-09', '35420.74'),
 ('Freyre', 'Diego ', '2004-08-16', '20009.53'),
 ('Freyre', 'Diego ', '2004-11-01', '36140.38'),
 ('Freyre', 'Diego ', '2004-12-31', '116208.40'),
 ('Freyre', 'Diego ', '2005-03-18', '120166.58'),
 ('Freyre', 'Diego ', '2005-03-25', '65071.26'),
 ('Freyre', 'Diego ', '2005-05-19', '46895.48'),
 ('Berglund', 'Christina ', '2003-04-09', '7674.94'),
 ('Berglund', 'Christina ', '2004-12-12', '36005.71'),
 ('Petersen', 'Jytte ', '2003-02-20', '53959.21'),
 ('Petersen', 'Jytte ', '2004-04-26', '28211.70'),
 ('Petersen', 'Jytte ', '2004-07-03', '4710.73'),
 ('Petersen', 'Jytte ', '2004-12-01', '20564.86'),
 ('Saveley', 'Mary ', '2003-12-10', '39712.10'),
 ('Saveley', 'Mary ', '2004-01-16', '49614.72'),
 ('Saveley', 'Mary ', '2004-03-18', '40978.53'),
 ('Natividad', 'Eric', '2003-04-22', '44380.15'),
 ('Natividad', 'Eric', '2003-12-26', '105743.00'),
 ('Natividad', 'Eric', '2004-08-11', '2611.84'),
 ('Natividad', 'Eric', '2005-03-27', '3516.04'),
 ('Young', 'Jeff', '2003-06-18', '58841.35'),
 ('Young', 'Jeff', '2003-12-22', '58793.53'),
 ('Young', 'Jeff', '2004-07-26', '20314.44'),
 ('Young', 'Jeff', '2004-12-14', '39964.63'),
 ('Leong', 'Kelvin', '2004-09-07', '63357.13'),
 ('Leong', 'Kelvin', '2004-11-19', '35152.12'),
 ('Hashimoto', 'Juri', '2003-08-05', '38675.13'),
 ('Hashimoto', 'Juri', '2003-11-18', '50743.65'),
 ('Hashimoto', 'Juri', '2004-11-14', '2434.25'),
 ('Hashimoto', 'Juri', '2005-02-02', '12692.19'),
 ('Victorino', 'Wendy', '2004-02-28', '22474.17'),
 ('Victorino', 'Wendy', '2004-07-07', '44160.92'),
 ('Victorino', 'Wendy', '2004-09-16', '38785.48'),
 ('Oeztan', 'Veysel', '2003-12-03', '85024.46'),
 ('Oeztan', 'Veysel', '2004-09-19', '12538.01'),
 ('Rancé', 'Martine ', '2003-11-22', '42783.81'),
 ('Rancé', 'Martine ', '2004-03-15', '18997.89'),
 ('Bertrand', 'Marie', '2003-04-20', '33383.14'),
 ('Bertrand', 'Marie', '2004-09-09', '1960.80'),
 ('Bertrand', 'Marie', '2004-12-04', '51209.58'),
 ('Tseng', 'Jerry', '2004-03-29', '20355.24'),
 ('Tseng', 'Jerry', '2004-05-13', '11843.45'),
 ('King', 'Julie', '2003-11-19', '24879.08'),
 ('King', 'Julie', '2004-07-10', '42044.77'),
 ('King', 'Julie', '2005-05-19', '28500.78'),
 ('Kentary', 'Mory', '2004-01-19', '47177.59'),
 ('Kentary', 'Mory', '2004-04-17', '15183.63'),
 ('Frick', 'Michael', '2003-01-30', '5494.78'),
 ('Frick', 'Michael', '2004-04-25', '22602.36'),
 ('Frick', 'Michael', '2004-11-16', '44400.50'),
 ('Karttunen', 'Matti', '2003-10-27', '37602.48'),
 ('Karttunen', 'Matti', '2004-10-21', '34341.08'),
 ('Karttunen', 'Matti', '2005-03-10', '23602.90'),
 ('Ashworth', 'Rachel', '2003-03-27', '48425.69'),
 ('Ashworth', 'Rachel', '2004-11-03', '52825.29'),
 ('Ashworth', 'Rachel', '2004-12-08', '47159.11'),
 ('Cassidy', 'Dean', '2004-03-01', '32538.74'),
 ('Cassidy', 'Dean', '2004-10-03', '17359.53'),
 ('Taylor', 'Leslie', '2003-07-06', '6036.96'),
 ('Taylor', 'Leslie', '2004-09-21', '5858.56'),
 ('Taylor', 'Leslie', '2004-12-06', '9658.74'),
 ('Devon', 'Elizabeth', '2003-10-20', '23908.24'),
 ('Devon', 'Elizabeth', '2004-06-15', '37258.94'),
 ('Tamuri', 'Yoshi ', '2003-12-18', '36527.61'),
 ('Tamuri', 'Yoshi ', '2004-11-08', '33594.58'),
 ('Barajas', 'Miguel', '2004-08-13', '51152.86'),
 ('Barajas', 'Miguel', '2004-09-24', '4424.40'),
 ('Young', 'Julie', '2003-09-05', '50342.74'),
 ('Young', 'Julie', '2003-12-04', '3879.96'),
 ('Young', 'Julie', '2005-02-06', '39580.60'),
 ('Citeaux', 'Frédérique ', '2004-05-04', '36069.26'),
 ('Citeaux', 'Frédérique ', '2004-06-21', '4632.31'),
 ('Citeaux', 'Frédérique ', '2005-05-03', '35157.75'),
 ('Gao', 'Mike', '2003-12-09', '45480.79'),
 ('Saavedra', 'Eduardo ', '2003-05-09', '3101.40'),
 ('Saavedra', 'Eduardo ', '2003-12-14', '40473.86'),
 ('Saavedra', 'Eduardo ', '2004-12-06', '24945.21'),
 ('Young', 'Mary', '2003-10-18', '4465.85'),
 ('Young', 'Mary', '2005-03-02', '3452.75'),
 ('Ibsen', 'Palle', '2003-10-31', '36164.46'),
 ('Ibsen', 'Palle', '2004-11-02', '53745.34'),
 ('Fresnière', 'Jean ', '2003-11-18', '16909.84'),
 ('Fresnière', 'Jean ', '2004-07-01', '22997.45'),
 ('Fresnière', 'Jean ', '2005-05-20', '29070.38'),
 ('Thompson', 'Valarie', '2004-03-15', '80375.24'),
 ('Bennett', 'Helen ', '2004-03-28', '24995.61'),
 ('Bennett', 'Helen ', '2004-11-16', '46788.14'),
 ('Roulet', 'Annette ', '2003-07-21', '14232.70'),
 ('Roulet', 'Annette ', '2003-11-22', '33818.34'),
 ('Roulet', 'Annette ', '2005-06-03', '12432.32'),
 ('Accorti', 'Paolo ', '2004-09-04', '48298.99'),
 ('Accorti', 'Paolo ', '2004-09-19', '33924.24'),
 ('Da Silva', 'Daniel', '2003-07-18', '23419.47'),
 ('Da Silva', 'Daniel', '2004-12-30', '26311.63'),
 ('Da Silva', 'Daniel', '2005-05-17', '17928.09'),
 ('Tonini', 'Daniel ', '2004-02-10', '5759.42'),
 ('Tonini', 'Daniel ', '2004-10-22', '53116.99'),
 ('Pfalzheim', 'Henriette ', '2003-12-07', '27988.47'),
 ('Pfalzheim', 'Henriette ', '2004-11-06', '61234.67'),
 ('Lincoln', 'Elizabeth ', '2004-04-24', '29284.42'),
 ('Lincoln', 'Elizabeth ', '2004-08-30', '37527.58'),
 ("O'Hara", 'Anna', '2003-09-28', '41554.73'),
 ("O'Hara", 'Anna', '2003-11-13', '38547.19'),
 ("O'Hara", 'Anna', '2005-02-09', '27083.78'),
 ("O'Hara", 'Anna', '2005-04-30', '29848.52'),
 ('Rovelli', 'Giovanni ', '2003-03-02', '52151.81'),
 ('Rovelli', 'Giovanni ', '2003-11-24', '37723.79'),
 ('Rovelli', 'Giovanni ', '2004-12-05', '37654.09'),
 ('Huxley', 'Adrian', '2003-08-03', '24013.52'),
 ('Huxley', 'Adrian', '2004-08-02', '35806.73'),
 ('Huxley', 'Adrian', '2005-01-03', '31835.36'),
 ('Hernandez', 'Marta', '2004-09-05', '43134.04'),
 ('Hernandez', 'Marta', '2004-10-28', '47411.33'),
 ('Holz', 'Mihael', '2004-03-13', '47375.92'),
 ('Holz', 'Mihael', '2004-09-18', '61402.00'),
 ('Klaeboe', 'Jan', '2003-10-24', '36798.88'),
 ('Klaeboe', 'Jan', '2004-09-05', '32260.16'),
 ('Koskitalo', 'Pirkko', '2003-10-06', '32723.04'),
 ('Koskitalo', 'Pirkko', '2004-04-25', '16212.59'),
 ('Koskitalo', 'Pirkko', '2005-02-15', '46770.52'),
 ('Dewey', 'Catherine ', '2004-03-03', '16901.38'),
 ('Dewey', 'Catherine ', '2004-08-09', '45352.47'),
 ('Frick', 'Steve', '2003-12-07', '36092.40'),
 ('Frick', 'Steve', '2004-11-06', '42339.76'),
 ('Huang', 'Wing', '2003-08-20', '41016.75'),
 ('Huang', 'Wing', '2003-11-24', '52548.49'),
 ('Huang', 'Wing', '2005-01-18', '8307.28'),
 ('Brown', 'Julie', '2003-11-03', '85559.12'),
 ('Brown', 'Julie', '2005-03-15', '46781.66'),
 ('Graham', 'Mike', '2003-07-05', '2880.00'),
 ('Graham', 'Mike', '2004-06-24', '37281.36'),
 ('Graham', 'Mike', '2004-12-24', '39440.59'),
 ('Graham', 'Mike', '2005-05-23', '75020.13'),
 ('Brown', 'Ann ', '2003-07-07', '29429.14'),
 ('Brown', 'Ann ', '2003-11-23', '37455.77'),
 ('Brown', 'Ann ', '2004-12-13', '13671.82'),
 ('Brown', 'William', '2004-04-16', '7178.66'),
 ('Brown', 'William', '2004-05-30', '31102.85'),
 ('Calaghan', 'Ben', '2003-10-17', '9821.32'),
 ('Calaghan', 'Ben', '2003-11-15', '23936.53'),
 ('Calaghan', 'Ben', '2005-03-01', '21432.31'),
 ('Suominen', 'Kalle', '2003-08-16', '29716.86'),
 ('Suominen', 'Kalle', '2004-05-22', '28394.54'),
 ('Suominen', 'Kalle', '2005-01-27', '45785.34'),
 ('Cervantes', 'Francisca', '2003-11-28', '34606.28'),
 ('Cervantes', 'Francisca', '2004-10-24', '23333.06'),
 ('Fernandez', 'Jesus', '2003-11-24', '31428.21'),
 ('Fernandez', 'Jesus', '2004-04-02', '15322.93'),
 ('Chandler', 'Brian', '2003-10-24', '20452.50'),
 ('Chandler', 'Brian', '2004-01-18', '21053.69'),
 ('Lebihan', 'Laurence ', '2003-05-25', '50824.66'),
 ('Lebihan', 'Laurence ', '2004-12-11', '18888.31'),
 ('Lebihan', 'Laurence ', '2005-01-29', '1834.56'),
 ('Henriot', 'Paul ', '2003-05-21', '16700.47'),
 ('Henriot', 'Paul ', '2003-07-21', '13920.26'),
 ('Henriot', 'Paul ', '2005-01-10', '49705.52'),
 ('Henriot', 'Paul ', '2005-06-09', '46656.94'),
 ('MacKinlay', 'Wales', '2003-12-16', '20220.04'),
 ('MacKinlay', 'Wales', '2004-05-15', '36442.34'),
 ('Yoshido', 'Juri', '2004-07-11', '18473.71'),
 ('Yoshido', 'Juri', '2004-09-21', '15059.76'),
 ('Young', 'Dorothy', '2003-01-16', '10223.83'),
 ('Young', 'Dorothy', '2003-12-05', '55425.77'),
 ('Young', 'Dorothy', '2004-11-17', '50799.69'),
 ('Nelson', 'Allen', '2003-09-16', '32680.31'),
 ('Nelson', 'Allen', '2004-08-02', '12530.51'),
 ('Nelson', 'Allen', '2005-02-12', '28322.83'),
 ('Cartrain', 'Pascale ', '2003-04-19', '1627.56'),
 ('Cartrain', 'Pascale ', '2003-08-22', '1128.20'),
 ('Cartrain', 'Pascale ', '2004-12-03', '12081.52'),
 ('Cartrain', 'Pascale ', '2005-02-03', '14379.90'),
 ('Pipps', 'Georg ', '2003-05-12', '35826.33'),
 ('Pipps', 'Georg ', '2004-08-01', '6419.84'),
 ('Pipps', 'Georg ', '2004-11-27', '42813.83'),
 ('Cruz', 'Arnold', '2003-03-09', '51001.22'),
 ('Cruz', 'Arnold', '2003-12-02', '20644.24'),
 ('Cruz', 'Arnold', '2004-11-19', '15822.84'),
 ('Moroni', 'Maurizio ', '2003-11-18', '38524.29'),
 ('Moroni', 'Maurizio ', '2004-07-18', '51619.02'),
 ('Shimamura', 'Akiko', '2004-06-21', '22037.91'),
 ('Shimamura', 'Akiko', '2004-11-29', '48927.64'),
 ('Shimamura', 'Akiko', '2005-02-14', '33967.73'),
 ('Shimamura', 'Akiko', '2005-05-18', '615.45'),
 ('Perrier', 'Dominique', '2004-01-28', '49165.16'),
 ('Perrier', 'Dominique', '2004-06-17', '25080.96'),
 ('Perrier', 'Dominique', '2005-04-23', '12190.85'),
 ('McRoy', 'Sarah', '2004-04-14', '31670.37'),
 ('McRoy', 'Sarah', '2004-07-25', '35034.57'),
 ('Donnermeyer', 'Michael', '2004-09-28', '31310.09'),
 ('Hernandez', 'Maria', '2003-04-16', '21665.98'),
 ('Hernandez', 'Maria', '2003-10-31', '22042.37'),
 ('Hernandez', 'Maria', '2004-12-07', '25505.98'),
 ('Lewis', 'Dan', '2003-06-25', '17032.29'),
 ('Lewis', 'Dan', '2003-09-15', '6631.36'),
 ('Lewis', 'Dan', '2004-12-17', '26304.13'),
 ('Larsson', 'Martha', '2004-09-30', '48809.90'),
 ('Larsson', 'Martha', '2005-04-18', '27966.54'),
 ('Frick', 'Sue', '2004-06-21', '59551.38'),
 ('Mendel', 'Roland ', '2003-11-15', '27121.90'),
 ('Mendel', 'Roland ', '2003-11-20', '15130.97'),
 ('Mendel', 'Roland ', '2005-05-03', '8807.12'),
 ('Murphy', 'Leslie', '2003-12-05', '38139.18'),
 ('Murphy', 'Leslie', '2004-05-12', '32239.47'),
 ('Choi', 'Yu', '2004-04-30', '1679.92'),
 ('Choi', 'Yu', '2004-11-13', '27550.51'),
 ('Sommer', 'Martín ', '2003-06-13', '57131.92'),
 ('Sommer', 'Martín ', '2004-02-06', '22162.61'),
 ('Sommer', 'Martín ', '2004-11-15', '33145.56'),
 ('Benitez', 'Violeta', '2003-11-08', '9977.85'),
 ('Benitez', 'Violeta', '2004-11-27', '48355.87'),
 ('Benitez', 'Violeta', '2005-04-15', '30293.77'),
 ('Clenahan', 'Sean', '2003-12-10', '35505.63'),
 ('Clenahan', 'Sean', '2004-07-28', '9415.13'),
 ('Ricotti', 'Franco', '2003-10-27', '17746.26'),
 ('Ricotti', 'Franco', '2004-02-17', '7612.06'),
 ('Thompson', 'Steve', '2003-12-09', '7678.25'),
 ('Thompson', 'Steve', '2004-02-13', '36070.47'),
 ('Roel', 'José Pedro ', '2003-11-29', '47513.19'),
 ('Roel', 'José Pedro ', '2004-10-26', '3474.66'),
 ('Salazar', 'Rosa', '2003-03-20', '25833.14'),
 ('Salazar', 'Rosa', '2004-04-14', '5899.38'),
 ('Salazar', 'Rosa', '2004-11-23', '45994.07'),
 ('Taylor', 'Sue', '2003-09-28', '29997.09'),
 ('Taylor', 'Sue', '2004-02-29', '12573.28'),
 ('Smith', 'Thomas ', '2003-12-04', '22275.73'),
 ('Smith', 'Thomas ', '2004-01-31', '7310.42'),
 ('Franco', 'Valarie', '2003-12-26', '59265.14'),
 ('Franco', 'Valarie', '2004-05-14', '6276.60'),
 ('Snowden', 'Tony', '2003-07-16', '32077.44'),
 ('Snowden', 'Tony', '2004-12-31', '52166.00'),
 ('Snowden', 'Tony', '2005-05-25', '30253.75')]

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of customer first and last names, product names, quantities, and date ordered for each of the customers and each of their orders. Sort these in descending order by the order date.

Note: This will require joining 4 tables! This can be tricky! Give it a shot, and if you're still stuck, turn to the next section where you'll see how to write subqueries which can make complex queries such as this much simpler!

In [4]:
c.execute('''select ''')

## Summary

In this lab, you practiced your knowledge on one-to-many and many-to-many relationships!